.lbody
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 100%;
    background-color: black;
}

.lbody > .lrow
{
    flex-basis: 100%;
    margin: 0px;
    padding: 0px;
    outline: 0px;
    background-color: gray;
}

.lrow > .litem
{
    background-color: inherit;
    text-align: center;
    vertical-align: center;
    margin: auto;
}
